@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
    background-color: #3B5998;
}


body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    color: white;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    font-style: italic;
}

.logo span{
    color: #00abf0;
}

.navbar a{
    font-size: 18px;
    color:#ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: ease 0.3s;
}

.navbar a:hover,
.navbar a.active{
    color: #00abf0;
}

.navbar a:hover{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius:999px ;
    padding: 15px;
    transform: scale(1.1);
}

.home {
    height: 100vh;
    background: url(fish.gif);
    background-size: cover;
    background-position: center;
    align-items: center;
    padding: 0 10%;
}

.judul{
    font-size: 30px;
    padding-top: 10%;
}

.judul h3{
    background-color: #00acf068;
    text-align: center;
    border-radius: 40px;
    margin: 0 550px;
}

.judul span{
    color: #00abf0;
}

.main img{
    width: 500px;
    margin: 70px 425px;
}

.bully{
    font-size: 30px;
    padding-top: 25%;
}

.bully h3{
    background-color: #00abf0;
    text-align: center;
    border-radius: 40px;
    margin: 0 550px;
}

.textbully{
    font-size: 25px;
    padding-top: 50px;
    padding-bottom: 150px;
}

footer{
    background-color: transparent;
    color: white;
    width: 100%;
    bottom: 0;
    position: fixed;
    padding: 15px;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
}

footer span{
    color: #00abf0;
}

.fa {
    padding: 17px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
    width: 55px;
}

.icon{
    text-align: end;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-instagram {
    background: purple;
    color: white;
}
.fa-whatsapp {
    background: green;
    color: white;
}
.fa-twitter {
    background: skyblue;
    color: white;
}